<div class="log my-1" *ngFor="let log of authServices.logsValue.value">
    <div class="title h1">{{log.title}}</div>
    <div class="date f6">posted {{log.date.toDate() | date: 'MM/dd/yyyy'}}</div>
    <div class="description f4">{{log.description}}</div>
</div>
<hr>
<form [formGroup]="newForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Title:
      <input type="text" formControlName="logTitle" />
    </label>
  </div>
  <div>
    <label>
      Description:
      <textarea formControlName="logDescription"></textarea>
    </label>
  </div>
  <input type="submit" value="Submit" />
</form>
