@import url('https://css.gg/menu.css');

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh -  57px);

    app-sidebar {
        display: block;
        background-color: #ffffff;
        width: 350px;
        height: 100%;
        &.hidden {
            display: hidden !important;
        }
    }
    .content {
    }
    
}
