<div class="sidebar-container">
  <button class="btn new-btn btn-squared side-card" (click)="newClick()">New</button>
  <select class="side-select" (change)="projectChange($event)" [value]="authServices.selectedProject">
    <option *ngIf="!authServices.selectedId" value="select">-- SELECT --</option>
    <option *ngFor="let project of authServices.projectsValue.value; let i = index" [value]="i" [selected]="authServices.selectedProject == i">{{project.name}}</option>
  </select>
  <div class="side-btn-group" *ngIf="authServices.isSelected">
    <button class="btn side-btn side-card" [class.current]="currentRoute === '/dashboard/info'" routerLink="info">
      Info
    </button>
    <button class="btn side-btn side-card" [class.current]="currentRoute === '/dashboard/boards'" routerLink="boards">
      Boards
    </button>
    <button class="btn side-btn side-card" [class.current]="currentRoute === '/dashboard/devlogs'" routerLink="devlogs">
      Devlogs
    </button>
    <button class="btn side-btn side-card" [class.current]="currentRoute === '/dashboard/settings'" routerLink="settings">
      Settings
    </button>
  </div>
</div>
