
.sidebar-container {
  min-width: 355px;
  width: 355px;

  .side-select {
    display: block;
    font-size: 20px;
    width: calc(100% - 8px * 2);
    margin: 8px;
    border-radius: 2.25px;
    text-align-last: center;
    text-align: center;
  }

  .new-btn {
    color: #ffffff;
    background: transparent;
    &:hover {
      background: #494949;
    }
  }

  .side-card {
    display: block;
    width: 100%;
    padding: 16px 0;
  }

  .side-btn-group {
    margin: 22px 0;

    @keyframes card-active {
      0%{
        background: radial-gradient(#bababa, #dbdbdb);
      }
      100%{
        background: radial-gradient(#bababa, #bababa);
      }
    }

    .side-btn:hover {
      background: #2d2d2d;
    }

    .side-btn:active {
      background: #1d1d1d;
      animation: card-active 50ms ease;
    }

    .side-btn {
      border-radius: 0;
      color: #ffffff;
      &.current {
        background: #373737;
      }
    }

  }
}

