<div class="sidebar-container">
  <button class="btn new-btn btn-squared side-card" (click)="newClick()">New Project</button>
  <hr class="mt-6">
  <div class="side-btn-group" *ngIf="authServices.isSelected">
    <button class="btn side-btn side-card" [routerLink]="['info']" routerLinkActive="current" queryParamsHandling="merge">
      Info
    </button>
    <button class="btn side-btn side-card" [routerLink]="['boards']" routerLinkActive="current" queryParamsHandling="merge">
      Boards
    </button>
    <button class="btn side-btn side-card" [routerLink]="['devlogs']" routerLinkActive="current" queryParamsHandling="merge">
      Devlogs
    </button>
  </div>
  <button class="btn side-btn side-card" [routerLink]="['settings']" routerLinkActive="current" queryParamsHandling="merge">
    Settings
  </button>
</div>
