<div class="h1 pg-title my-2">Settings</div>
<form class="col-8" [formGroup]="newForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Project Name:
      <input class="width-full f4" type="text" formControlName="projectName" />
    </label>
  </div>
  <div>
    <label>
      Description:
      <textarea class="width-full f4" formControlName="projectDescription"></textarea>
    </label>
  </div>
  <div>
    <label>
      Repository link:
      <input class="width-full f4" type="text" formControlName="projectRepo" />
    </label>
  </div>
  <div>
    <label>
      Website:
      <input class="width-full f4" type="text" formControlName="projectWebsite" />
    </label>
  </div>
  <input class="btn btn-blue px-5 my-3" type="submit" value="Edit" />
</form>
<button class="btn btn-red my-10 px-8" (click)="deleteClick()">Delete project</button>
