<header class="header border-bottom border-black p-5 f4">
  <button (click)="toggleMenu()" class="header-item btn btn-icon text-white"><div class="gg-menu"></div></button>
  <div class="header-item--full">Dashboard</div>
  <div *ngIf="authService.isAuth">
    <button (click)="authService.logout()" class="header-item btn btn-link">Logout</button>
    <button (click)="authService.userValue" class="header-item btn btn-link">Get Value</button>
  </div>
</header>
<div class="wrapper">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
