/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #202020;
    display: flex;
}

.pg-title {
  text-decoration: underline;
  color: #cbcbcb;
}

ul {
  margin-left: 20px;
  li {
    margin-top: 2px;
    ul {
      display: inline;
      list-style-type: none;
      li {
        display: inline;
      }
    }
  }
}
